.box {
  position: relative;

  display: flex;
  align-items: start;

  border: 1px solid var(--clr-neutral-600);
  border-radius: 0.5em;

  gap: 1em;
  padding: 1em;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;

    margin: -1em;
    border-radius: 0.5em;
  }
}
