.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 1.25em 1em;

  background-color: var(--clr-neutral-100);

  button {
    border: none;
    font-size: var(--font-size-small);
  }

  .next,
  .confirm {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-900);

    padding: 1em;

    border-radius: 0.5em;

    width: 100px;
  }

  .back {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-700);

    &:hover {
      color: var(--clr-primary-900);
    }
  }

  .confirm {
    background-color: var(--clr-primary-700);
  }
}

.next:hover {
  background-color: hsl(213, 96%, 35%);
}
.confirm:hover {
  background-color: hsl(243, 100%, 79%);
}

@media (min-width: 870px) {
  .buttons {
    position: relative;
    padding: 0;
    padding-inline: 1em;

    .back {
      font-size: var(--font-size-medium);
    }
  }
}
