.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;

  padding-block: 2em 7em; //for the background image to display in full width and height

  background-image: url("../../../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  min-width: 100%;
  min-height: 100%;

  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0.5em 0.75em;
    width: 37px;

    border: 1px solid var(--clr-neutral-100);
    border-radius: 50em;

    color: var(--clr-neutral-100);
  }
  .selected {
    background-color: var(--clr-primary-200);
    border-color: var(--clr-primary-200);
    color: var(--clr-primary-900);

    font-weight: var(--font-weight-bold);
  }

  .stepText {
    display: none;
  }
}

@media (min-width: 770px) {
  .container {
    flex-direction: column;
    justify-content: start;
    gap: 2em;

    background-image: url("../../../assets/images/bg-sidebar-desktop.svg");
    background-size: contain;

    padding: 2em 4em 7em 1.5em;

    margin-bottom: 7em;

    .stepContainer {
      display: flex;
      align-items: center;
      gap: 1em;

      .stepText {
        display: flex;
        flex-direction: column;
        gap: 0.25em;

        p {
          color: var(--clr-primary-500);
          font-weight: var(--font-weight-light);
          font-size: var(--font-size-small);
        }
        span {
          color: var(--clr-neutral-100);
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-regular);
          letter-spacing: 1px;
        }
      }
    }
  }
}
