.box {
  display: grid;
  grid-auto-flow: column;

  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;

    gap: 1em;
  }

  .info {
    display: flex;
    flex-direction: column;

    p {
      color: var(--clr-primary-900);
      font-weight: var(--font-weight-bold);
    }

    span {
      font-size: var(--font-size-smaller);
      color: var(--clr-neutral-700);
    }
  }
  .price {
    font-size: var(--font-size-smaller);
    color: var(--clr-primary-700);
  }

  @media (min-width: 425px) {
    .info span,
    .price {
      font-size: var(--font-size-small);
    }
  }

  .checkbox {
    padding: 0.25em;

    border: 1px solid var(--clr-neutral-600);
    border-radius: 0.25em;

    flex-shrink: 0;

    img {
      visibility: hidden;
    }
  }

  .checked {
    background-color: var(--clr-primary-700);

    border: 1px solid var(--clr-primary-700);
    img {
      visibility: visible;
    }
  }
  &::before {
    margin: 0em;
  }
}

.selectedBox {
  background-color: var(--clr-neutral-400);
  border-color: var(--clr-primary-700) !important;
}

@media (min-width: 870px) {
  .box {
    padding-block: 1.5em;
    .info {
      gap: 0.5em;

      span {
        font-size: var(--font-size-small);
      }
    }
  }
}
