.thankyou {
  justify-items: center;
  text-align: center;

  padding-block: 6em;

  gap: 1.25em;

  img {
    order: -1;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 870px) {
  .thankyou {
    font-size: var(--font-size-large);

    padding-block: 6em 4em;

    img {
      width: 90px;
      height: 90px;
    }
  }
}
