.selections {
  display: grid;
  gap: 1em;

  padding: 1em;

  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-900);

  border-radius: 0.5em;

  font-weight: var(--font-weight-regular);

  .info {
    display: flex;

    justify-content: space-between;
    align-items: center;

    .plan {
      display: flex;
      flex-direction: column;
      align-items: start;

      gap: 0.25em;

      button {
        border: none;
        background-color: inherit;

        color: var(--clr-neutral-700);

        text-decoration: underline;
        font-size: var(--font-size-small);

        &:hover {
          cursor: pointer;
          color: var(--clr-primary-700);
        }
      }
    }

    .addOnTitle {
      //   font-size: var(--font-size-small);
      font-weight: var(--font-weight-light);
      color: var(--clr-neutral-700);
    }
    .addOnPrice {
      //   font-size: var(--font-size-small);

      font-weight: var(--font-weight-light);
    }
  }
  .line {
    opacity: 0.2;
    height: 1px;
    width: 100%;
    background-color: var(--clr-neutral-700);
  }
}

.total {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 0.5em 1em;

  color: var(--clr-neutral-700);
  font-weight: var(--font-weight-light);

  span {
    font-weight: var(--font-weight-bold);
    color: var(--clr-primary-700);
  }
}

@media (min-width: 870px) {
  .selections {
    padding: 1.5em;
  }
  .total {
    padding: 1em 1.5em;
    span {
      font-size: var(--font-size-semi-medium);
    }
  }
}
