@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;

  // Primary
  --clr-primary-900: hsl(213, 96%, 18%);
  --clr-primary-700: hsl(243, 100%, 62%);
  --clr-primary-500: hsl(228, 100%, 84%);
  --clr-primary-200: hsl(206, 94%, 87%);
  --clr-primary-error: hsl(354, 84%, 57%);

  //Neutral
  --clr-neutral-700: hsl(231, 11%, 63%);
  --clr-neutral-600: hsl(229, 24%, 87%);
  --clr-neutral-400: hsl(217, 100%, 97%);
  --clr-neutral-200: hsl(231, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  // Body Copy
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  // Font weights
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  /* font: inherit; force styling of type through styling, rather than elements */
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
